
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');



*{
    scroll-behavior: smooth;
    text-decoration: none;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color:#ff0000;
}

body {
    min-height: 75rem;
    padding-top: 3.5rem;
    font-family: 'Roboto', sans-serif;
  }
.navbar-brand{
    color:#ff0000!important;
}

.card{
    height: 100%;
}

.btn{
    background: #ff0000 !important;
    border: 1px solid #ff0000!important;
}

.btn i{
    color: #fff !important;
}

.btn:hover{
    background: #ff5555 !important;
}

.card-title{
    color: #ff0000!important;
}

@media screen and (max-width: 767px){
.nav-item{
    border-bottom: 2px solid red!important;
}
}
.navbar-text{
    color:#ff0000!important;
}
#carouselExample img{
        height: 550px; 
        -o-object-fit: cover; 
           object-fit: cover;
}
iframe{
    width: 100%;
}


@media screen and (max-width: 991px){
    iframe{
        height: 50%;
    }
}

svg:hover{
    fill: #ff0000;
}
.carousel-caption{
    background-color: rgba(0, 0, 0, 0.2);
}
section i, .col-lg-7 i, nav i{
    color:#ff0000;
}
.card img{
    height: 100%;
    width: 100%;
}

.card.shadow-sm.partner img{
    height: auto;
    width: 100%;
}

.partner .card-body{
    line-height: 0!important;
    padding: 0!important;
}

.shadow-sm.noborder{
    border: none!important;
    background: none!important;
    box-shadow: none!important;
}

.col.middle{
    padding-top: 50px;
    text-align: center;
}

footer a i{
    color: #fff !important;
}

.card-body a i{
    color: #fff !important;
}

.productimg{
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.productimg img{
    max-width: 100%;
    text-align: center;
    margin: auto;
    display: block;
}

#mob-caro{
    display: none !important;
}

@media screen and (max-width: 800px){
    #desk-caro{
        display: none!important;
    }
    #mob-caro{
        display: block !important;
    }
}